@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Database Test</h2>
        <ul>
            <li>@((Model.Error == 1) ? "Unknown" : Model.Data.Title)</li>
            <li>@((Model.Error == 1) ? "Unknown" : Model.Data.Content)</li>
            <li>@((Model.Error == 1) ? "Unknown" : Model.Data.Slug)</li>
            <li>@((Model.Error == 1) ? "From Unknown Blog" : "From Blog: " + Model.Data.Blog.Name)</li>
        </ul>
    </div>
</div>
