@{
    ViewData["Title"] = "Populate";
}
<h2>@ViewData["Title"].</h2>

<div class="row">
    <div class="col-md-3">
        <h2>Errors:</h2>
        <ul>
            <li>@ViewData["Error"]</li>
        </ul>
    </div>
</div>
